:css
  body {font-family: sans-serif;}
  a {color: #602;}
  .section-header {}
  .section-content {margin: 14px;}
  .subsection {margin-left: 7px;}
  p.position {margin-bottom: 0px; font-weight: bold;}
  p.location {margin: 0px;}
  p.description {margin: 0px;}
  p.continue {margin: 0px;}
  p.etc {margin: 0px; font-style: italic;}
  h2 {margin-bottom: 0px;}
  p.role-header {font-weight: normal; text-decoration: underline; margin-top: 5px; margin-bottom: 5px;}
  ul.role-list {margin-top: 0px; margin-bottom: 0px;}

%h2 Andrew H Schwartz ⋅ <a href="mailto:andrew@andrewhschwartz.com">andrew@andrewhschwartz.com</a>
%p.continue
  GitHub: <a href="https://www.github.com/ozydingo">ozydingo</a>
  ⋅
  LinkedIn: <a href="https://www.linkedin.com/in/andrew-schwartz-1546011/">andrew-schwartz-1546011</a>
  ⋅
  Me: <a href="http://www.theandrewhschwartz.com">www.theandrewhschwartz.com</a>

.section-header
  %h3 Core Competencies
.section-content
  %ul.role-list
    %li Code Languages: Python, R, Ruby, Java, C++, Javascript, eager to learn more!
    %li Technical Skills: Signal Processing, Machine Learning, Speech Processing, NLP
    %li Web Infrastructure and Development: Ruby on Rails, Javascript, AWS, React, Angular
    %li Personal: Thorough & Eager Learner, Mentorship, Professionalism
.section-header
  %h3 Personal Projects
.section-content
  %p.position Cortio
  %p.location Python ⋅ Neural-inspired audio transforms and processing
  %p.continue <a target="_blank" href="https://github.com/ozydingo/cortio">https://github.com/ozydingo/cortio</a>
  %p.position Descend
  %p.location Javascript ⋅ Web demo of gradient descent
  %p.continue <a target="_blank" href="http://www.andrewhschwartz.com/descend/">http://www.andrewhschwartz.com/descend/</a>
  %p.position NNJS (Ninjas)
  %p.location Javascript ⋅ Web demo of neural networks
  %p.continue <a target="_blank" href="">Coming soon</a>
  %p.position Despecable
  %p.location Ruby ⋅ Inuitive, self-documenting API specifications for Rails
  %p.continue <a target="_blank" href="https://github.com/ozydingo/despecable">https://github.com/ozydingo/despecable</a>
  %p.position StoresInMongo
  %p.location Ruby ⋅ Seamless integration of ActiveRecord SQL models with Mongo/Compose.io schemaless database storage
  %p.continue <a target="_blank" href="https://github.com/ozydingo/stores_in_mongo">https://github.com/ozydingo/stores_in_mongo</a>
  %p.position ThroughHierarchy
  %p.location Ruby ⋅ Easy hierarchical assoications between SQL models using Rails
  %p.continue <a target="_blank" href="https://github.com/ozydingo/through_hierarchy">https://github.com/ozydingo/through_hierarchy</a>
.section-header
  %h3 Professional Experience
.section-content
  %p.position Director of Engineering
  %p.location 3Play Media ⋅ 2013-Present
  %p.continue.etc Ruby on Rails ⋅ Python ⋅ R ⋅ Agile / Scrum ⋅ Signal Processing ⋅ NLP ⋅ Bayesian Modeling ⋅ AWS ⋅ Javascript
  .subsection
    %p.role-header Major Responsibilities
    %ul.role-list
      %li Lead the development team and set the technical direction of the company
      %li Designe core architecture for most major components of our code base
      %li Approve or delegate approval of all change to our code base
      %li Accomodate processing and search of nearly 3 million video records with several associated data models
      %li Strategize rollout of new products to minimize downtime and balance technical debt
      %li Manage, mentor, and hire junior & senior developers
    %p.role-header Key R&D Projects
    %ul.role-list
      %li NLP algorithm (tf/idf, TextRank, custom hueristics) to automatically extract keywords and keyphrases from uploaded media content
      %li Bayesian updating model to match contract editors to well-matched jobs
      %li Audio signal processing, spectral analysis, and custom procedures to map remixed content to its original source and automatically generate accurate captions for the remixed content
      %li Spectro-temporal modulation transform of audio fed into a Gaussian classifier and HMM to label speech and nonspeech content
      %li Design, specification, and rollout of a brand new API to process thousands of hours of uploaded media content from large media & entertainment customers
      %li Huge reacrchitecture project to robustify our platform and streamline future development
  %p.position Research Engineer
  %p.location AudioPulse ⋅ MIT MISTI ⋅ 2011-2012
  .subsection
    %p.description Mobile-platform hearing loss detection in newborns for resource-poor healthcare settings
    %p.continue Designed hardware and software to detect & analyze <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3614374/">distortion product otoacoustic emissions</a> (DPOAE)
  %p.position Ph.D. Student
  %p.location Boston University Auditory Neuroscience Laboratory ⋅ 2007-2013
  .subsection
    %p.description Auditory perception & scene analysis, binaural hearing and neural encoding of sound
    %p.continue Modeled neural mechanisms for spatial hearing and hearing loss to predict the effect of binaural compression (e.g. in hearing aids)
    %p.continue Designed and conducted experiments to test model predictions
  %p.position Research Intern
  %p.location Starkey Laboratories ⋅ 2011
  .subsection
    %p.description Research and modeling the effect of binaural compression on auditory scene analysis
  %p.position Masters Student
  %p.location Harvard Eaton Peabody Laboratory ⋅ 2008-2011
  .subsection
    %p.description Neural mechanisms of spatial hearing
    %p.continue Experiments and modeling on the effect of reverberation on neural coding of sound localization
  %p.position Workshop in Neuromorphic Engineering
  %p.location Institute for Neuromorphic Engineering, Summer 2008 & Summer 2010
  .subsection
    %p.description Hacked a toy robot to orient toward the direction of sounds using hardware model cochleas
    %p.continue Audio anomaly detection using an auditory salience model, boosting detection by 18 dB SNR
  -# %p.position Bachelor’s Student
  -# %p.location Boston University Senior Design Project ⋅ 2004-2005
  -# .subsection
  -#   %p.description Systems engineering, analog circuit design, audio signal processing
  -# %p.position Research Assistant
  -# %p.location Boston University Active Perception Laboratory ⋅ Summer 2003
  -# .subsection
  -#   %p.description Visual perception, computer vision
  -# %p.position Research Assistant
  -# %p.location Boston University Quantum Imaging Laboratory ⋅ Summer 2001
  -# .subsection
  -#   %p.description Quantum optics & entanglement

.section-header
  %h3 Education
.section-content
  %p.position Ph.D, Speech & Hearing, Bioscience & Technology
  %p.position.continue MIT + Harvard Health Sciences & Technology program, June 2013
  %p.etc Inference & Information, Neural Coding & Perception of Sound, Signal Processing by the Auditory System, Peripheral Auditory System, Speech Communication
  %p.continue GPA: 4.7 / 5.0

  %p.position Master of Science, Electrical Engineering
  %p.position.continue MIT Dept. of Electrical Engineering and Computer Science, May 2010
  %p.etc Speech & Audio Processing, Discrete-Time Signal Processing, Communication Control & Signal Processing
  %p.continue GPA: 4.8 / 5.0

  %p.position Bachelor of Science, Computer Systems Engineering
  %p.position.continue Boston University Dept of Computer Systems Engineering, May 2005
  %p.position.continue Minor in Music, College of Fine Arts
  %p.etc VLSI, Embedded Systems, Microprocessors, Computer Organization
  %p.continue GPA 3.8 / 4.0

.section-header
  %h3 Patents, Publications, Presentations
.section-content
  %p.reference Miller, J et al (2017) Systems and methods for automatically synchronizing media to derived content. Patent, <a href="https://www.google.com/patents/US9633696">US9633696 B1</a>
  %p.reference Schwartz, A.H. (2013) Effect of dynamic range compression on attending to sounds based on spatial location. Thesis, Ph.D. <a href="http://hdl.handle.net/1721.1/84411">http://hdl.handle.net/1721.1/84411</a>
  %p.reference Schwartz, A.H., Shinn-Cunningham, B.G. (2013) Effects of dynamic range compression on spatial selective auditory attention in normal-hearing listeners. J Acoust Soc Am. doi: <a href="http://doi.org/10.1121/1.4794386">10.1121/1.4794386</a>.
  %p.reference Scwhartz, A.H., McDermott, J., Shinn-Cunningham, B.G. (2012) Spatial cues alone produce inaccurate sound segregation: The effect of interaural time differences. J Acoust Soc Am. doi: <a href="http://doi.org/10.1121/1.4718637">10.1121/1.4718637</a>.
  %p.reference Schwartz, A.H., Shinn-Cunningham, B .G. (2011)  Binaural compression weakens spatial unmasking: the compression-blur hypothesis. Podium presentation, Int’l Hearing Aid Res Conf
  %p.reference Schwartz, A.H. (2010) Effect of reverberation on the directional sensitivity of auditory neurons: peripheral factors. Thesis, S.M. <a href="http://hdl.handle.net/1721.1/60105">http://hdl.handle.net/1721.1/60105</a>
  %p.reference Devore, S., Delgutte, B., Schwartz, A.H. (2010) Effect of Reverberation on Directional Sensitivity of Auditory Neurons: Central and Peripheral Factors. In: Lopez-Poveda E., Palmer A., Meddis R. (eds) The Neurophysiological Bases of Auditory Perception. Springer, New York, NY. doi: <a href="http://doi.org/10.1007/978-1-4419-5686-6_26">10.1007/978-1-4419-5686-6_26</a>.
  %p.reference Schwartz, A.H., Shinn-Cunningham, B.G. (2010) Dissociation of perceptual judgments of “what” and “where” in an ambiguous auditory scene. J Acoust Soc Am. doi: <a href="http://doi.org/10.1121/1.3495942">10.1121/1.3495942</a>.
  %p.reference Schwartz A.H., McDermott, J.H., Shinn-Cunningham B.G. (2010). Influences of interaural time differences in grouping of ambiguous auditory scenes. Poster, Assoc Res Otolaryngology, Midwinter Meeting.
  %p.reference Devore S., Schwartz A.H., Delgutte B. (2009). Effect of reverberation on directional sensitivity of auditory neurons: Central and peripheral factors. Int’l Symp Hearing.
  %p.reference Schwartz A.H., Devore, S., Delgutte, B. (2009). Effect of reverberation on the directional sensitivity of auditory neurons: Peripheral factors. Poster, Assoc Res Otolaryngology, Midwinter Meeting.
  %p.reference Yu T., Schwartz A., Harris J., Slaney M., Liu S. (2009). Periodicity detection and localization using spike timing from the AER EAR. IEEE Int’l Symp Circuits and Systems. doi: <a href="http://doi.org/10.1109/ISCAS.2009.5117697">10.1109/ISCAS.2009.5117697</a>.
  %p.reference Schwartz, A.H., Shinn-Cunningham, B.G. (2008). The influence of ambiguous grouping cues on an auditory object’s perceived spectral content and location. Podium presentation, Assoc Res Otolaryngology, Midwinter meeting.
