:css
  .section-header {}
  .section-content {margin: 14px;}
  p.position {margin-bottom: 0px; font-weight: bold;}
  p.location {margin: 0px;}
  p.description {margin: 0px;}
  p.continue {margin: 0px;}
  p.etc {margin: 0px; font-style: italic;}
  h2 {margin-bottom: 0px;}
  p.role-header {font-weight: normal; text-decoration: underline; margin-left: 7px; margin-top: 5px; margin-bottom: 5px;}
  ul.role-list {margin-top: 0px; margin-bottom: 0px;}

%h2 Andrew H Schwartz ⋅ the.andrew.h.schwartz@gmail.com
%p.continue
  GitHub: <a href="https://www.github.com/ozydingo">ozydingo</a>
  ⋅
  LinkedIn: <a href="https://www.linkedin.com/in/andrew-schwartz-1546011/">andrew-schwartz-1546011</a>
  ⋅
  Me: <a href="http://www.theandrewhschwartz.com">www.theandrewhschwartz.com</a>


.section-header
  %h3 Experience
.section-content
  %p.position Director of Engineering
  %p.location 3Play Media ⋅ 2013-Present
  %p.description.etc Time-synchronized captions and transcripts using automated + manual transcription
  %p.role-header Major Responsibilities
  %ul.role-list
    %li Design, implement, and deploy new technology & products
    %li Approve all code changes to our core applications and products
    %li Participate in project conception and planning
    %li Manage & mentor junior developers, oversee new hires to the development team
  %p.role-header Key Projects
  %ul.role-list
    %li Keywords & Keyphrases
    %ul.sublist
      %li Combined tf/idf, TextRank, and custom heuristics to generate salient keyphrases
      %li Helped land major deals with entertainment companies and a large medical network
    %li Audio Fingerprinting
    %ul.sublist
      %li Running correlation across spectral bands to identify audio matches
      %li Instant captioning of clips and multi-clip edits of existing long-form content
    %li Speech / Nonspeech Classifier
    %ul.sublist
      %li Audio analysis using spectro-temporal modulation transform and an HMM classifier
      %li Determined speech content of uploaded content prior to expensive processing
    %li Contractor Matching
    %ul.sublist
      %li Used Bayesian updates on regression models to predict contractor performance
      %li Generated a score between contractors and transcription QA jobs
  %p.role-header Development:
  %ul.role-list
    %li Build a new API for all customer administrative and workflow operations, with focus on robust operation, self-documenting code and responses, and the Principle of Least Surprise
    %li Video Platform Integrations
    %li Asset Workflow Architecture
    %li Parallelized asset processing

  %p.position Research Engineer
  %p.location AudioPulse ⋅ MIT MISTI ⋅ 2011-2012
  %p.description Mobile-platform hearing loss detection in newborns for resource-poor healthcare settings
  %p.continue Designed hardware and software to detect & analyze distortion product otoacoustic emissions (DPOAE)
  %p.position Ph.D. Student
  %p.location Boston University Auditory Neuroscience Laboratory ⋅ 2007-2013
  %p.description Auditory perception & scene analysis, binaural hearing and neural encoding of sound
  %p.continue Modeled neural mechanisms for spatial hearing and hearing loss to predict the effect of binaural compression (e.g. in hearing aids)
  %p.continue Designed and conducted experiments to test model predictions
  %p.position Research Intern
  %p.location Starkey Laboratories ⋅ 2011
  %p.description Research and modeling the effect of binaural compression on auditory scene analysis
  %p.position Masters Student
  %p.location Harvard Eaton Peabody Laboratory ⋅ 2008-2011
  %p.description Neural mechanisms of spatial hearing
  %p.continue Research and modeling on the effect of reverberation on neural coding of sound localization
  %p.position Workshop Participant
  %p.location Workshop in Neuromorphic Engineering ⋅ Summer 2008
  %p.description Hacked a toy robot to orient toward the direction of sounds using hardware model cochleas
  %p.continue Audio anomaly detection using an auditory salience model, boosting detection by 18 dB SNR
  %p.position Bachelor’s Student
  %p.location Boston University Senior Design Project ⋅ 2004-2005
  %p.description Systems engineering, analog circuit design, audio signal processing
  %p.position Research Assistant
  %p.location Boston University Active Perception Laboratory ⋅ Summer 2003
  %p.description Visual perception, computer vision
  %p.position Research Assistant
  %p.location Boston University Quantum Imaging Laboratory ⋅ Summer 2001
  %p.description Quantum optics & entanglement

.section-header
  %h3 Education
.section-content
  %p.position Ph.D, Speech & Hearing, Bioscience & Technology
  %p.position.continue MIT + Harvard Health Sciences & Technology program, June 2013
  %p.etc Inference & Information, Neural Coding & Perception of Sound, Signal Processing by the Auditory System, Peripheral Auditory System, Speech Communication
  %p.continue GPA: 4.7 / 5.0

  %p.position Master of Science, Electrical Engineering
  %p.position.continue MIT Dept. of Electrical Engineering and Computer Science, May 2010
  %p.etc Speech & Audio Processing, Discrete-Time Signal Processing, Communication Control & Signal Processing
  %p.continue GPA: 4.8 / 5.0

  %p.position Bachelor of Science, Computer Systems Engineering
  %p.position.continue Boston University Dept of Computer Systems Engineering, May 2005
  %p.position.continue Minor in Music, College of Fine Arts
  %p.etc VLSI, Embedded Systems, Microprocessors, Computer Organization
  %p.continue (GPA 3.8 / 4.0)

.section-header
  %h3 Patents, Publications, Presentations
.section-content
  %p.reference Miller, J et al (2017) Systems and methods for automatically synchronizing media to derived content. Patent, <a href="https://www.google.com/patents/US9633696">US9633696 B1</a>
  %p.reference Schwartz, A.H. (2013) Effect of dynamic range compression on attending to sounds based on spatial location. Thesis, Ph.D. <a href="http://hdl.handle.net/1721.1/84411">http://hdl.handle.net/1721.1/84411</a>
  %p.reference Schwartz, A.H., Shinn-Cunningham, B.G. (2013) Effects of dynamic range compression on spatial selective auditory attention in normal-hearing listeners. J Acoust Soc Am. doi: <a href="http://doi.org/10.1121/1.4794386">10.1121/1.4794386</a>.
  %p.reference Scwhartz, A.H., McDermott, J., Shinn-Cunningham, B.G. (2012) Spatial cues alone produce inaccurate sound segregation: The effect of interaural time differences. J Acoust Soc Am. doi: <a href="http://doi.org/10.1121/1.4718637">10.1121/1.4718637</a>.
  %p.reference Schwartz, A.H., Shinn-Cunningham, B .G. (2011)  Binaural compression weakens spatial unmasking: the compression-blur hypothesis. Podium presentation, Int’l Hearing Aid Res Conf
  %p.reference Schwartz, A.H. (2010) Effect of reverberation on the directional sensitivity of auditory neurons: peripheral factors. Thesis, S.M. <a href="http://hdl.handle.net/1721.1/60105">http://hdl.handle.net/1721.1/60105</a>
  %p.reference Devore, S., Delgutte, B., Schwartz, A.H. (2010) Effect of Reverberation on Directional Sensitivity of Auditory Neurons: Central and Peripheral Factors. In: Lopez-Poveda E., Palmer A., Meddis R. (eds) The Neurophysiological Bases of Auditory Perception. Springer, New York, NY. doi: <a href="http://doi.org/10.1007/978-1-4419-5686-6_26">10.1007/978-1-4419-5686-6_26</a>.
  %p.reference Schwartz, A.H., Shinn-Cunningham, B.G. (2010) Dissociation of perceptual judgments of “what” and “where” in an ambiguous auditory scene. J Acoust Soc Am. doi: <a href="http://doi.org/10.1121/1.3495942">10.1121/1.3495942</a>.
  %p.reference Schwartz A.H., McDermott, J.H., Shinn-Cunningham B.G. (2010). Influences of interaural time differences in grouping of ambiguous auditory scenes. Poster, Assoc Res Otolaryngology, Midwinter Meeting.
  %p.reference Devore S., Schwartz A.H., Delgutte B. (2009). Effect of reverberation on directional sensitivity of auditory neurons: Central and peripheral factors. Int’l Symp Hearing.
  %p.reference Schwartz A.H., Devore, S., Delgutte, B. (2009). Effect of reverberation on the directional sensitivity of auditory neurons: Peripheral factors. Poster, Assoc Res Otolaryngology, Midwinter Meeting.
  %p.reference Yu T., Schwartz A., Harris J., Slaney M., Liu S. (2009). Periodicity detection and localization using spike timing from the AER EAR. IEEE Int’l Symp Circuits and Systems. doi: <a href="http://doi.org/10.1109/ISCAS.2009.5117697">10.1109/ISCAS.2009.5117697</a>.
  %p.reference Schwartz, A.H., Shinn-Cunningham, B.G. (2008). The influence of ambiguous grouping cues on an auditory object’s perceived spectral content and location. Podium presentation, Assoc Res Otolaryngology, Midwinter meeting.
