* {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

h1 {
  color: black;
  font-size: 26px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

div {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
}

.content {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #c8a0a0;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 80px;
  box-shadow: 0px 1px 5px 1px #ccc;
}

.header-spacing {
  height: 80px;
}

.network-display {
  width: 100%;
  height: 400px;
}

.output-graphs {
  display: flex;
  flex-direction: column;
  height: 400px;
}

#netsvg {
  width: 500px;
  min-width: 500px;
  height: 400px;
}

#netsvg svg {
  width: 100%;
  height: 100%;
}

.output-container {
  width: 200px;
  flex: 1;
  display: flex;
}

.bordered-graph {
  border: solid #bbb 1px;
}

.graph-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.graph-label {
  display: none;
  width: 200px;
  position: absolute;
  background: #00000077;
  color: #ffffffcc;
  float: left;
  height: 1.2em;
}

.graph-group:hover > .graph-label {
  display: block;
}

#colorbar.vertical {
  display: inline-block;
  height: 100%;
  width: 20px;
}

#colorbar.horizontal {
  width: 100%;
}

#play {

}

#pause {
  display: none;
}

.actionbar {
  margin: 10px 0px 5px 0px;
}

.network-display {
  display: flex;
  flex-direction: row;
}

#play, #pause {
  font-size: 2em;
}

.instruction > p > .fa-play-circle {
  font-size: 0.7em;
  color: #888;
}

.ctrl-group {
  margin: 0em 1em 0em 1em;
}

#output_canvas{
  cursor: crosshair;
}

* {
  font-size: 14px;
}

p {
  margin-bottom: 4px;
}

ul {
  padding-left: 20px;
}

#readme {
  max-width: 600px;
  margin-top: 1.5rem;
}

#coming-soon {
  width: 75%;
  margin-top: 2rem;
}

.inline-note {
  font-style: italic;
  color: #888;
  font-size: small;
}

.emphasis {
  color: #000;
  font-weight: bold;
}

.acronym {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

.footpad {
  align-self: flex-end;
  margin: 60px 0px 0px 60px;
  font-size: 10px;
  color: #bbb;
}

.ctrl-group.disabled {
  color: #bbb;
}
