h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

div {
  box-sizing: border-box;
}

.main-display {
  width: 100%;
  height: 400px;
}

#netsvg {
  display: inline-block;
  width: 500px;
  height: 400px;
}

#netsvg svg {
  width: 100%;
  height: 100%;
}

.output-container {
  width: 200px;
  height: 200px;
}

.output-container canvas {
  width: 100%;
  height: 100%;
}

.bordered-graph {
  border: solid #bbb 1px;
}

#colorbar.vertical {
  display: inline-block;
  height: 100%;
  width: 20px;
}

#colorbar.horizontal {
  width: 100%;
}

#play {

}

#pause {
  display: none;
}

div.controls {
  margin: 10px 0px 5px 0px;
}

#play, #pause{
  font-size: 2em;
}

.ctrl-group {
  margin: 0em 1em 0em 1em;
}

* {
  font-size: 14px;
}

p {
  margin-bottom: 4px;
}

ul {
  padding-left: 20px;
}

#readme {
  max-width: 600px;
}

#coming-soon {
  width: 75%;
}

.inline-note {
  font-style: italic;
  color: #888;
  font-size: small;
}

.footer {
  margin: 60px 0px 0px 60px;
  font-size: 10px;
  color: #bbb;
}
