body {
  background-color: #fefefa;
  font-family: "tahoma", sans-serif;
}

a:link {
  color: #801133;
}

a:visited {
  color: #801133;
}

#content-wrapper{
  padding: 20px;
}

#content{
  display:table;
}

#content>div{
  display:table-cell
}

div#main-content {
  padding-left: 35px;
  vertical-align: top;
}

div.headshot {
}

div.header {
}

div.main {
  padding-top: 1px;
}

div.padded-list {
  padding-left: 16px;
}

div.credits {
  padding-left: 8px;
  font-style: italic;
  font-size: smaller;
}

p.traits {

}

p.passions {
  font-style: italic;
  font-size: small;
}

ul.things {
  list-style-type: none;
  padding-left: 0px;
  font-family: "Courier";
}

ul.things > li {
  padding-bottom: 12px;
}

span.label {
  font-family: monospace;
  color: #888;
}

span.subtext {
  font-size: small;
  color: #777;
}

img.logo {
  width: 16px;
  height: 16px;
}

img.logo.list {
  padding-right: 5px;
}

span.logo.overflow {
  padding-left: 5px;
}

span.logo.overflow > i {
  font-size: smaller;
  color: #555;
  padding-right: 2px;
}
