body {
  background-color: #ffffff;
  font-family: "tahoma", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 2.5em;
  margin-bottom: 4px;
}

a:link {
  color: #801133;
}

a:visited {
  color: #801133;
}

#content-wrapper{
  padding: 20px;
}

#content{
  display:table;
}

#content>div{
  display:table-cell
}

div#main-content {
  padding-left: 35px;
  vertical-align: top;
}

div.headshot {
}

div.header {
}

div.main {
  padding-top: 1px;
}

.section-header {
  display: flex;
}

.section-title-left {
  width: 1em;
  border-bottom: 1px solid #777;
  position: relative;
  top: -0.3em;
  margin-right: 0.2em;
}

.section-title-content {
  font-size: 2em;
}

.section-title-right {
  flex-grow: 1;
  border-bottom: 1px solid #777;
  position: relative;
  top: -0.3em;
  margin-left: 0.3em;
}

div.padded-list {
  padding-left: 16px;
}

div.credits {
  padding-left: 8px;
  font-style: italic;
  font-size: smaller;
}

p.traits {
  color: #707070;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 30px;
}

p.passions {
  font-style: italic;
  font-size: small;
}

ul.things {
  list-style-type: none;
  padding-left: 0px;
  font-family: "Courier";
}

ul.things > li {
  margin-bottom: 12px;
  overflow: hidden;
  min-height: 1em;
  height: 1em;
  max-height: 1em;
}

ul.things > li > .label {
  position: relative;
  transition-property: top;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
  top: 0em;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}

ul.things > li:hover > .label {
  top: -1.4em;
}

ul.things > li > .label > span {
  margin-bottom: 0.4em;
}

span.label-text {
  font-family: monospace;
  color: #888;
}

span.subtext {
  font-size: small;
  color: #777;
}

img.logo {
  width: 16px;
  height: 16px;
}

img.logo.list {
  padding-right: 5px;
}

span.logo.overflow {
  padding-left: 5px;
}

span.logo.overflow > i {
  font-size: smaller;
  color: #555;
  padding-right: 2px;
}
